.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header_navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.header_navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 ;
    display: flex;
} 
.header_navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header_navbar-item,
.header_navbar-item-link{
    font-size: 1.3rem;
    display: flex;
    color:var(--white-color);
    font-weight: 300;
    text-decoration: none;
    
}
.header_navbar-item:hover,
.header_navbar-icon-link:hover,
.header_navbar-item-link:hover{
    color: rgba(225, 225, 225, 0.7);
    cursor: pointer;
}
.header_navbar-item-strong{
    font-weight: 600;
}
.header_navbar-item--separte::after{
    position: absolute;
    content: "";
    display: block;
    border-left: 1px solid #fb9086;
    height: 14px;
    right: -9px;
    top: -27%;
    transform: translateY(50%);
}
.header_navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header_navbar-icon{
    font-size: 1.6rem;
    margin: 0 1px ;
   

}
.header_navbar-item-link{
    display: inline-flex;
    align-items: center;
}
.header_navbar-title-no-pointer{
    cursor: text;
    color: var(--white-color)
}
/* Header qr*/
.header_qr{
    width: 186px;
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    top: 110%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 1;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) ;

}
.header_qr-img{
    width: 100%;
}
.header_qr-apps{
    display: flex;
    justify-content: space-between;
}
.header_qr-download-img{
    height: 16px;
}
.header_qr-link:first-child{    
    margin-left: 11px;
}
.header_qr-link:last-child{
    margin-right: 11px;
}
.header_navbar-item-has-qr:hover .header_qr{
    display: block;

}
.header_qr::before{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: -16px;
}
/*Header-notify*/
.header_notify{
    position: absolute;
    width:404px ;
    background-color: var(--white-color);
    top: 31px;
    right: 0;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 20px) top ;
    animation: headernotifygrow ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
    z-index: 2;
}
.header_notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -2px;
    top: -28px;
}
.header_notify::after{
    content: "";
    display: block;
    width: 90px;
    right: 0;
    top: -16px;
    height: 20px;
    position: absolute;
}
.header_navbar-item-has-notify:hover .header_notify{
    display: block;
}
@keyframes headernotifygrow{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header_notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header_notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    user-select: none;
}
.header_notify-list{
    padding-left: 0;
}
.header_notify-item{
    display: flex;
}
.header_notify-item:hover {
    background-color: #f7f7f7;
}
.header_notify-item-viewed{
    background-color: rgba(238, 75, 43, 0.08);

}
.header_notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    
}
.header_notify-img{
    width: 48px;
}
.header_notify-info{
    margin-left: 12px;

}
.header_notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight:300 ;
    line-height: 1.8rem;
}
.header_notify-descriotion{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    padding-top:4px ;

}
.header_notify-footer{
    display: flex;
}
.header_notify-footer-btn{
    text-decoration: none;
    color: #333;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
}
/* authen mpodal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;

}
.auth-form-container{
    padding: 0 32px;
}
.auth-form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 12px;
    margin-top: 12px;
}
.auth-form-heading{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--black-color);
}
.auth-form-switch-btn{
    font-size: 1.6rem;
    font-weight: 500;
    color:var(--primary-color);
    cursor: pointer;
}
.auth-form_form{
    
}
.auth-form-input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form-input:focus{
    border-color: #888;
}
.auth-form-aside{
    margin-top: 20px;
}
.auth-form-policy-text{
    font-size: 1.2rem;
    line-height:1.8rem ;
    text-align: center;
    padding: 0 12px;
}
.auth-form-text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form-control{
    margin-top: 80px;
    display: flex;
    justify-content:flex-end ;
}


.auth-form-social{
    background-color: #d5d5d5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form-social-icon{
    font-size: 1.8rem;
}
.auth-form-social-facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form-social-facebook
.auth-form-social-icon{
    color: var(--white-color);
    
}
.auth-form-social-title{
    margin: 0 36px;
}
.auth-form-social-google{
    color: #666;
    background-color: var(--white-color);
}
.auth-form-help{
    display: flex;
    justify-content: flex-end;
}
.auth-form-help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form-help-separate{
    display: block;
    border-left: 1px solid #eaeaea;
    height: 21px;
    margin: -2px 16px 0;
}
.auth-form-help-fogot{
    color:var(--primary-color);
    
}

/* header-with-search */
.header-with-search{
    display: flex;
    height: var(--header-with-search-height);
    align-items: center;
    margin: 0 8px ;

}
.header-logo{
    width: 200px;
}
.header-logo-img{
    width: 140px;
    margin-right: 36px;

}
.header-search{
    height: 40px;
    border-radius: 2px;
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    
}
.header-cart{
    width: 150px;
    text-align: center;
    
}
.header-cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header-cart-wrap:hover .header-cart-list{
    display: block;
}
.header-cart-list::after{
    content: "";
    position: absolute;
    right: 7px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header-cart-list{
    position: absolute;
    top: calc(100% + 8px);
    right: -2px;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
.header-cart-list-no-cart{
    padding: 24px 0;
}
.header-cart-list-no-cart .header-cart-no-cart-img,
.header-cart-list-no-cart .header-cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header-cart-no-cart-img{
    width: 50%;
    display: none;
    
}
.header-cart-notice{
    position: absolute;
    padding: 1px 6px;
    color: var(--primary-color);
    background-color:var(--white-color) ;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 50%;
    border:2px solid #ee4d2d;
    bottom: 14px;
    right: 26px;
}
.header-cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 13px;
    color: var(--black-color);
    font-weight: 600;
}
.header-cart-icon{
    color:var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}
.header-cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header-cart-list-item{
    padding-left: 0;
    list-style: none;
    overflow-y: auto;
}
.header-cart-item{
 display: flex;
 align-items: center;
    
}
.header-cart-item:hover {
    background-color: #f8f8f8;
}
.header-cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
}
.header-cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header-cart-item-head{
    display: flex;
    align-items: center;
    margin-top: 0px;
    justify-content: space-between;
    
}
.header-cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black-color);
    line-height: 2rem;
    max-height: 4rem;
    flex: 1;
    padding-right: 16px;
    overflow: hidden;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header-cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header-cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header-cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}
.header-cart-item-body{
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}
.header-cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header-cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header-cart-item-remove{
    color: var(--black-color);
    font-size: 1.4rem;
    
}
.header-cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.header-search-input{
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
    
}
.header-search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;

}
.header-search-select{
    font-size: 1.4rem;
    color: #4a4A4a;
    margin: 0 16px 0 10px;
    position: relative;
    top: 1px;
    cursor: pointer;
}
.header-search-select-lable{
    font-size: 1.4rem;
    color: var(--black-color);
}
.header-search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    outline: none;
    border-radius: 2px;
    margin-right: 3px;
}
.header-search-btn-icon{
    font-size: 1.2rem;
    color: var(--white-color);
    text-align: center;

}
.header-search-btn:hover{
    background-color: #fb6445;
    cursor: pointer;

}
.header-search-option-item{
    background-color: var(--white-color);
   
    padding: 8px 8px;
    text-align: right;
    

}
.header-search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header-search-option {
    position: absolute;
    right: -17px;
    top: 178%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in 0.2s;
}


.header-search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0;
}

.header-search-option-item i{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
}
.header-search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header-search-select:hover .header-search-option{
    display: inline-block;
}
.header-search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--black-color);
    padding:0 16px;
    border-radius: 2px;
}
.header-search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
    
}
.header-search-input:focus ~ .header-search-history{
    display: block;
}
/* search history */
.header-search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    border-radius: 2px;
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header-search-history-item{
    height: 38px;
    padding: 0 12px;
    font-weight: 600;
    
}
.header-search-heading{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 8px 12px;
    font-weight: 400;
    padding-top: 6px;
    
}
.header-search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}
.header-search-history-list a{
    font-size: 1.4rem;
    line-height: 38px;
    text-decoration: none;
    color: var(--black-color);
    display: block;
}
.header-search-history-item:hover{
    background-color: #fafafa;
}
.modal.js-modal .open {
    display: flex;
}
.header_navbar-user{
    justify-items: center;
    position: relative;
    display: none;
}
.header_navbar-user-img{
    border-radius: 50%;
    height: 22px;
    width: 22px;
}
.header_navbar-user-name{
    font-size: 1.4rem;
    font-weight: 550;
    margin-left: 4px;
    margin-top: 4px;

}
.header_navbar-user-item{
    

}
.header_navbar-user-item a{
    text-decoration: none;
    font-size:1.4rem ;
    color: var(--black-color);
    padding: 6px 16px;
    display: block;
}
.header_navbar-user-menu{
    position: absolute;
    padding-left:0;
    top: calc(100% + 4px);
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 154px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    z-index: 1;
    display: none;

}
.header_navbar_user-item-logout a{
    color: var(--primary-color);
    border-top: 1px solid #fafafa;
    
}
.header_navbar-user-item:hover{
    background-color: #fafafa;
}
.header_navbar-user-menu::before{
    content: "";
    border-width: 13px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -20px;
}
.header_navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 58%;
    height: 8px;
    
}
 .header_navbar-user:hover .header_navbar-user-menu{
    display: block;
}
.header-logo-link{
    text-decoration: none;
    color: transparent;
}
/* 
 */
 .app-container{
    background-color: #f5f5f5;
    overflow: auto;
 }
 .app-content{
    padding-top: 36px;
 }
 .category{
    background-color: var(--white-color);
    display: inline-block;
    margin-bottom: 12px;
 }
 .category-heading-icon{
    margin-right: 4px;
    font-size: 1.4rem;
    position: relative;
    top: 1px;
    
 }
 .category-heading{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 12px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 600;
    margin-top: 0;
    
 }
 .category-list{
    list-style: none;
    padding: 0 0 8px 0;
   margin-left: 5px;
 }
 
 .category-item-active .category-item-link{
    color: var(--primary-color);

 }
 .category-item-active .category-item-link::before{
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: 5px;
    top :50%;
    transform: translateY(-50%);
 }
 .category-item-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--black-color);
    padding: 7px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
    position: relative;
 }
 .category-item-link:hover {
    right: -4px;
    color: var(--primary-color);
 }
 /* HOME */
 .home-filter{
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
   
 }
 .home-filter-lable{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
 }
 .home-filter-btn{
    min-width: 90px;
    margin-right: 12px;
 }
 .home-filter-page{
    display: flex;
    align-items: center;
    margin-left: auto;
 }
.select-input-label{
    font-size: 1.4rem;
}
.select-input-icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top:1px;
}
.home-filter-page-num{
    font: 1.5rem;
    color: var(--black-color);
    margin-right: 22px;
}
.home-filter-page-current{
    color: var(--primary-color);
}
.home-filter-page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    
}
.home-filter-page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter-page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter-page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter-page-btn-disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter-page-btn-disabled .home-filter-page-icon{
    color: #ccc;
    
}
/* product-item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.1) ;
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    border: 0.5px solid var(--primary-color);
}
.home-product-item-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.home-product-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item-price{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
}
.home-product-item-price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;

}
.home-product-item-price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 8px;
    overflow: hidden;
}
.home-product-item-action{
    display: flex;
    margin: 6px 10px 0;
    justify-content: space-between;

}
.home-product-item-like{
    font-size: 1.3rem;
    color: #333;
}
.home-product-item-like:hover{
    color: red;
    cursor: pointer;
}
.home-product-item-rating{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: var(--yellow-color);
    margin-left: auto;
}
.home-product-item-origin{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 7px;

    
}
.home-product-item-sell{
    font-size: 1.2rem;
    margin-left: 5px;
    color: var(--black-color);
    
}
.home-product-item-brand{

}
.home-product-item-origin-name{

}
.home-product-item-favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-item-favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    filter: brightness(60%);

}

.home-product-item-favourite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home-product-item-sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
}
.home-product-item-sale-off::after{
    content: "";
    position:absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent var(--yellow-color) transparent var(--yellow-color);

}
.home-product-item-sale-off-percent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem; 
    line-height: 1.2rem;
    position: relative;
    top: 2px;
}
.home-product-item-sale-off-label{
    font-size: 1.3rem;
    line-height: 1.4rem;
    color: var(--white-color);
    position: relative;
    top: 1px;
    font-weight: 600;
}
/* footer */
.footer{
   border-top: 4px solid var(--primary-color);
   padding-top: 16px;
   background-color: var(--white-color);
}
.footer-heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black-color);
    padding-bottom: 20px;
    font-weight: 600;

}
.footer-list{
    list-style: none;
    padding-left: 0;
}
.footer-item-link{
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
    padding: 7px 0;
    display: flex;
    align-items: center;
}
.footer-item-link:hover{
    color: var(--primary-color);
}
.footer-item-icon {
    font-size: 1.6rem;
    margin-top: -1px;
    margin-right: 8px;
}
.footer-download{
    display: flex;
}
.footer-download-qr{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer-download-app{
    flex: 1;
    margin-left: 16px;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.footer-download-app-icon-img{
    height: 16px;
}
.footer-download-app-link{
    text-decoration: none;
    color: transparent;
}
.footer-bottom{
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 36px;
}
.footer-text{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}


